---
name: Verify

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  packages: read
  id-token: write

jobs:
  conform:
    runs-on: ubuntu-latest
    name: Conform

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: siderolabs/conform@v0.1.0-alpha.31
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  lint_provider:
    runs-on: ubuntu-latest
    name: Lint Provider
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: -c .golangci.yml

      - name: Vet Provider
        run: |
          go vet ./...

  test:
    runs-on: ubuntu-latest
    name: Unit Tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Run Tests
        run: |
          make test

      - run: go tool goveralls -coverprofile=covprofile -service=github
        env:
          COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  dockerfile_lint:
    runs-on: ubuntu-latest
    name: Lint Dockerfile

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile

  build:
    runs-on: ubuntu-latest
    name: Build Provider and Container
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install cosign
        uses: sigstore/cosign-installer@v4.0.0
      - name: Download Syft
        uses: anchore/sbom-action/download-syft@v0.22.2

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Release via GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          args: -p 3 release --snapshot --clean --skip=publish,sign --timeout 60m0s
          version: latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_COMMIT_TIMESTAMP: ${{ github.event.pull_request.updated_at }}
          CI_COMMIT_SHA: ${{ github.sha }}
          CI_COMMIT_TAG: ${{ github.sha }}-dev
